* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 0;
}

body {
	background-color: rgb(0, 109, 128);
	background-image: radial-gradient(#445, rgb(64, 84, 196), #383841);
	color: #aaa;
	background-attachment: fixed;
}
main {
	min-height: 60vh;
}

.center {
	text-align: center;
}

.carousel_container {
	width: 100%;
	/* overflow-y: hidden; */
	height: fit-content;
	z-index: 0;
	margin: 0 auto;
	position: relative;
}

.full-width {
	width: 40%;
}

.head_nav {
	padding: 10px;
}

header {
	position: sticky;
	top: 0;
	margin-bottom: 0px;
	z-index: 1;
}

.img_description {
	font-size: 2rem;
	font-weight: bold;
	font-family: "Fira Code", Verdana, Geneva, Tahoma, sans-serif;
	z-index: 2;
	display: block;

	text-decoration: none;
	color: rgb(58, 116, 253);

	position: absolute;
	right: 15px;
	bottom: 10px;
	letter-spacing: 5px;
}

.nav_brand {
	font-weight: 900;
}

.laptop1 {
	background-image: url("./assets/img/laptop1.jpg");
}
.laptop2 {
	background-image: url("./assets/img/laptop2.jpg");
}
.laptop3 {
	background-image: url("./assets/img/laptop3.jpg");
}

.laptop {
	height: 50vh;

	background-repeat: round;
	background-size: cover;
}

.carousel_container {
	background-color: cyan;
	display: block;
	margin: 0 auto;
}

.about_section {
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5rem;
}

.about__h2 {
	font-size: 2rem;
}

.loading {
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3px;
}

.loading__text {
	font-size: 2rem;
	color: #fff;
	animation-timing-function: ease-out;
	animation-name: loading_blink;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

@keyframes loading_blink {
	0% {
		dislpay: none;
	}
	25% {
		color: #675622;
		display: block;
	}
	50% {
		display: block;
	}
	75% {
		display: none;
	}
	100% {
		display: block;
		color: #fff;
	}
}

.items__container {
	display: flex;
	column-gap: 10px;
	row-gap: 1rem;
	flex-wrap: wrap;
	max-width: 100vw;
	justify-content: center;
}

.item {
	flex-basis: 50%;
}

.footer {
	background-color: #333;
	border: 4px solid #456;
}

.footer__divider {
	display: flex;
	justify-content: left;
}

.footer__ul {
	display: flex;
	padding: 40px;
	width: fit-content;
	height: fit-content;
	list-style-type: none;
	row-gap: 10px;
	flex-direction: column;
	list-style-type: none;
}

.footer__ul ul {
	list-style-type: none;
}

.footer__ul li {
	color: #aaa;
	font-size: 1.19rem;
}

.footer__ul p {
	font-size: 20px;
	margin-bottom: -6px;
}

.footer li:hover {
	color: red;
}

.footer__p {
	color: #fa5;
	font-size: 13px;
	text-align: center;
}

.footer__hr {
	color: white;
	height: 3px;
}

.footer a {
	color: #aaa;

	text-decoration: none;
	display: inline-block;
}

.footer a:hover,
.footer a:focus {
	color: #fff;
}

.add_to_cart_btn:hover {
	background-color: green;
}

.item_type {
	font-size: 14px;
}
